.navItem {
  display: block;
  padding: 0.25rem 1rem;
  color: var(--layout-tertiary-foreground);
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.2s;
}

.navItem:hover {
  background-color: var(--layout-primary-background-hover);
  color: var(--layout-primary-foreground);
}

.navItem.active {
  background-color: var(--layout-primary-background-hover);
  color: var(--layout-primary-foreground);
}

.navItem.active:hover {
  background-color: var(--layout-primary-background-hover);
}
