.searchBar {
  flex: 1;
}

.searchBar .searchForm {
  display: flex;
  gap: 0;
  align-items: center;
  position: relative;
}

.searchBar .searchInput {
  flex: 1;
  border-right: none;
  border-radius: 4px 0 0 4px;
  height: var(--input-height);
}

.searchBar .searchButton {
  border-left: none;
  border-radius: 0 4px 4px 0;
  height: var(--input-height);
}

.searchBar .clearButton {
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.25rem;
  color: var(--layout-primary-foreground);
}

.searchBar .clearButton:hover {
  color: var(--layout-quaternary-foreground);
}
